body {
	background-color: #white;
	font-family: "futura-pt",sans-serif;
	font-size: 18px;}


#title {
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 700;	
	font-size: 60px;
	text-align: center; 
	padding-top:10px;
	

#subtitle {
	font-family: "museo-slab",sans-serif;
	font-size: 28px;
	padding-top:-10px;
	text-align: center; 
	padding-bottom:10px;
}

#navbar {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none; }
#navbar li {
	float: left; }
