body {
	background-color: #eee;
	font-family: "futura-pt",sans-serif;}

p {
	font-family: "futura-pt",sans-serif;
	margin-top: 0;
}

form {
	margin: 0;
	padding: 0
}

FIELDSET {
	border: none;
	padding: 0;
	margin: 0;
}
	
h1 {
	margin: 24px 0 .25em 0
}


blockquote {
	margin: 12px;
}

#main {
	width: 100%;
	margin: auto;
	padding: 1em;
	background-color: white;
}

#title {
	font-family: "museo-slab";
	font-size: 50px;
	text-align: center 
	padding-top:25px;
	padding-bottom:25px;
	

#subtitle {
	font-family: "futura-pt",sans-serif;
	font-size: 50px;
	text-align: center 
	padding-top:10px;
	padding-bottom:10px;
}

#core {
	width: 840px;
	margin: auto;
	padding: 1em;
	background-color: white;
}

#create {
	font-size: 120%;
	font-weight: bold;
}

#nav {
	padding: 0;
	text-align: center;

}

#nav td {
	font-size:24px;
	font-weight: bold;
	text-align: center;
}

#nav td:hover {
	background-color:grey;
}


#nav td a img {
	margin-bottom: -2px;
	margin-right: 20px;
}

/* */

body {
	font-size: 80%;
	line-height: 1.5em;
	font-family: "museo-slab-1","museo-slab-2", 'Georgia', Helvetica, Monaco, Verdana, Arial, Times;
	text-align: center;
	background: #ffffff;
	margin: 0;
	padding: 0;}

#container {
	margin: 0 auto;
	width: 100%;
	height: auto;
	position: relative;}

h1, h2, h3, h4, h5, h6 {
	font-family: "museo-slab-1","museo-slab-2", Georgia, Helvetica, Monaco, Verdana, Arial, Times;
	color: #4D4D4D;
	line-height: normal;}

p {
	color: #40454b;}

a:link {
	text-decoration: none;
	color: #FF2052;}

a:hover {
	color: #DEB342;}

a:visited {
	text-decoration: none;
	color: #FF2052;}


/* menu bar */


td.title {
	padding-left: 4px
}

#latest td {
	width: 170px
}

hr {
	color: #eee;
	background-color: #eee;
	height: 1px;
	width: 100%;
	margin-bottom: 18px;
	margin-top: 0;
}

.urlform .txt {
    vertical-align:middle;
    font:italic 18px Arial, Helvetica, sans-serif;
    background:#fff;
    width:600px;
    height:23px;
    padding:11px 6px;
    float:left;
    -webkit-box-shadow:0 0 4px #4b4b4b;
    -moz-box-shadow:0 0 4px #4b4b4b;
    box-shadow:0 0 4px #4b4b4b;
    margin:4px;
}

.urlform .button, 
.urlform .button:active, 
.urlform .button.active {
     float:right;
     width: 151px;
  height: 55px;
  margin-top: 3px;
  margin-left:4px;
  font-size:18px;   

}

.urlform .button:hover
{
	background-color: #bebebe !important;
   	background: -o-linear-gradient( #bebebe,#f1f1f1) !important;
	background: linear-gradient( #bebebe,#f1f1f1) !important;
	background: -moz-linear-gradient(top,  #bebebe,#f1f1f1);

/* webkit based browsers */
	background: -webkit-gradient(linear, left top, left bottom, from(#bebebe ), to(#f1f1f1)) !important;

/* For Internet Explorer 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bebebe, endColorstr=#f1f1f1)!important;
/* For Internet Explorer 8 & 9 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#bebebe, endColorstr=#f1f1f1)"!important;

}  

.urlform .button, 
.urlform .button:active, 
.urlform .button.active {
     border-color: #f1f1f1 !important;
  color:#444444 !important;
       text-shadow: 0 1px #FEFEFE !important;  
   background-color: #f1f1f1 !important;
  background: -o-linear-gradient( #f1f1f1,#bebebe) !important;
background: linear-gradient( #f1f1f1,#bebebe) !important;
background: -moz-linear-gradient(top,  #f1f1f1,#bebebe);
/* webkit based browsers */
background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1 ), to(#bebebe)) !important;

/* For Internet Explorer 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f1f1f1, endColorstr=#bebebe)!important;
/* For Internet Explorer 8 & 9 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f1f1f1, endColorstr=#bebebe)"!important;
}



.submit {
	display: block;
	margin-top: 4px
}



p.drop:FIRST-LETTER {
	float: left;
	font-size: 24pt;
	font-weight: bold;
}



#bottom {
	margin-top: 2em;
	margin-bottom: 0
}

#footer {
	border-top: 1px solid #999;
	margin-top: 2em;
}

#footer td {
	font-size: 80%;
}

#embed {
	font-size: 85%;
	background-color: #eef;
}

.disabled {
	color: gray
}

#deli {
	padding-top: 6px;
	margin-bottom: 6px;
}

}
#deli a,#deli a:visited {
	font-weight: bold;
	color: #444;
	margin-right: 8px
}

#deli img {
	margin-right: 2px
}

#saver {
	float: right;
}

#deli a {
	border: 1px solid #ccc;
}

#saver a {
	color: #339922;
}


a.button {
	position: relative;
	padding: 2px;
	text-decoration: none;
	color: black;
	font-weight: bold;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

a.button:hover {
	left: -1;
	top: -1;
	margin-right: 2px ! important;
	background: yellow;
}

a.button:active {
	left: 0;
	top: 0;
	border: 1px inset #ccc ! important;
}

p.newsitem {
	margin-bottom: 2em
}

.newsdate {
	font-weight: bold
}

h2.faq {
	margin-bottom: .25em
}

div.answer {
	margin-bottom: 2em
}

.goog {
	margin: 4px 0 12px 0 ! important
}

.icon {
	border: none;
	vertical-align: baseline
}

#embedinstructions {
	margin-top: 1em
}

.build {
	text-align: right;
	font-size: 70%;
	color: gray;
	padding: 0;
	margin: 0
}

