{% extends 'headerfooter.html' %}
{% load url from future %}
{% block css_import %}
    <link href="{% url 'static' 'css/custom-about.css' %}" rel="stylesheet" type="text/css">
    <link href="{% url 'static' 'css/custom-searchbar.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block title %}Über NewsDiffsDE?{% endblock %}
{% block active_about %}class="active"{% endblock %}

{% block content %}
    <!-- Begin page content -->
    <div class="container-fluid">
    <!--div class="row" id="description">
        <div class="col-md-6 col-md-offset-3">
            <p class="text-justify">
                Die Idee hinter NewsDiffs Deutschland ist es, Änderungen an Nachrichtenartikeln sichtbar und nachvollziehbar
                zu machen. NewsDiffs Deutschland trackt alle Änderungen an Artikeln der Titelseiten der 10 größten
                deutschsprachigen Nachrichtenportale. Nutze die Suchfunktion, um nach Artikeln zu suchen oder sieh dir unsere <a href="highlights.html">Highlights</a> an.
            </p>
        </div>
    </div-->

        <div class="row" id ="search-total">
            <div class="col-md-6 col-md-offset-3">
                <div id="search-input">
                    <input type="text" placeholder="Suche" id="search-input-line"><button type="button" id="search-input-btn" onclick="location.href='article-list-page.html'"><span class="glyphicon glyphicon-search" ></span></button>
                </div>

                <div id="search-foldout">
                    <ul class="list-group">
                        <li class="list-group-item" id="stichwort-link"><a><span class="glyphicon glyphicon-paperclip"></span>Stichwort</a></li>
                        <li class="list-group-item"><a><span class="glyphicon glyphicon-link"></span>URL</a></li>
                        <li class="list-group-item"><a><span class="glyphicon glyphicon-file"></span>Zeitung</a></li>
                        <li class="list-group-item"><a><span class="glyphicon glyphicon-calendar"></span>Datum</a></li>
                        <li class="list-group-item"><a><span class="glyphicon glyphicon-user"></span>Autor</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row" id ="submenu-row">
            <div class="col-md-8 col-md-offset-2">
                <ul class="nav nav-pills" id="submenu">
                    <li role="presentation"><a href="#intro">Einführung</a></li>
                    <li role="presentation"><a href="#faq">F.A.Q.</a></li>
                    <li role="presentation"><a href="#press">Presse</a></li>
                </ul>
            </div>
        </div>



        <div class="row" id="intro">
            <div class="col-md-8 col-md-offset-2">

                <h2>
                    Einführung
                    <a href="#top">
                        <button type="button" class="btn btn-default btn-md go-up-btn">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                        </button>
                    </a>
                </h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod aliquet feugiat. Nullam iaculis purus quis blandit lacinia. 
                Suspendisse feugiat pretium lorem, in porttitor tortor convallis nec. Integer eget auctor nulla. Donec rhoncus purus metus, non rhoncus lorem posuere at. 
                Phasellus eget purus elementum, congue augue eu, porta tortor. Integer quis volutpat libero, a malesuada libero. 
                Donec cursus euismod placerat. Donec quis elit sit amet mi mattis efficitur. Pellentesque metus nisl, pellentesque nec dignissim et, 
                convallis eget lorem. Aliquam id consectetur nulla, et semper nisl.</p>
            </div>
        </div>

        <div class="row" id="faq">
            <div class="col-md-8 col-md-offset-2">
                <h2>
                    F.A.Q.
                    <a href="#top">
                        <button type="button" class="btn btn-default btn-md go-up-btn">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                        </button>
                    </a>
                </h2>



                <strong>Lorem ipsum dolor sit amet?</strong>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod aliquet feugiat. Nullam iaculis purus quis blandit lacinia. 
                Suspendisse feugiat pretium lorem, in porttitor tortor convallis nec. Integer eget auctor nulla. Donec rhoncus purus metus, non rhoncus lorem posuere at. 
                Phasellus eget purus elementum, congue augue eu, porta tortor. Integer quis volutpat libero, a malesuada libero. 
                Donec cursus euismod placerat. Donec quis elit sit amet mi mattis efficitur. Pellentesque metus nisl, pellentesque nec dignissim et, 
                convallis eget lorem. Aliquam id consectetur nulla, et semper nisl.</p>

                <strong>Lorem ipsum dolor sit amet?</strong>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod aliquet feugiat. Nullam iaculis purus quis blandit lacinia. 
                Suspendisse feugiat pretium lorem, in porttitor tortor convallis nec. Integer eget auctor nulla. Donec rhoncus purus metus, non rhoncus lorem posuere at. 
                Phasellus eget purus elementum, congue augue eu, porta tortor. Integer quis volutpat libero, a malesuada libero. 
                Donec cursus euismod placerat. Donec quis elit sit amet mi mattis efficitur. Pellentesque metus nisl, pellentesque nec dignissim et, 
                convallis eget lorem. Aliquam id consectetur nulla, et semper nisl.</p>
            </div>
        </div>

        <div class="row" id="press">
            <div class="col-md-8 col-md-offset-2">
                <h2>
                    Presse
                    <a href="#top">
                        <button type="button" class="btn btn-default btn-md go-up-btn">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                        </button>
                    </a>
                </h2>

                <h4>Zeitung XYZ</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod aliquet feugiat. Nullam iaculis purus quis blandit lacinia. 
            Suspendisse feugiat pretium lorem, in porttitor tortor convallis nec. Integer eget auctor nulla. Donec rhoncus purus metus, non rhoncus lorem posuere at. 
            Phasellus eget purus elementum, congue augue eu, porta tortor. Integer quis volutpat libero, a malesuada libero. 
            Donec cursus euismod placerat. Donec quis elit sit amet mi mattis efficitur. Pellentesque metus nisl, pellentesque nec dignissim et, 
            convallis eget lorem. Aliquam id consectetur nulla, et semper nisl.</p>

                <h4>Zeitung ABC</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod aliquet feugiat. Nullam iaculis purus quis blandit lacinia. 
            Suspendisse feugiat pretium lorem, in porttitor tortor convallis nec. Integer eget auctor nulla. Donec rhoncus purus metus, non rhoncus lorem posuere at. 
            Phasellus eget purus elementum, congue augue eu, porta tortor. Integer quis volutpat libero, a malesuada libero. 
            Donec cursus euismod placerat. Donec quis elit sit amet mi mattis efficitur. Pellentesque metus nisl, pellentesque nec dignissim et, 
            convallis eget lorem. Aliquam id consectetur nulla, et semper nisl.</p>
                
 
            </div>
        </div>

    </div>
{% endblock %}


   {% block js_scripts %}	<script src="{% url 'static' 'about-scroll.js'%}"></script>
   {% endblock %}

