<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NewsDiffs | About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NewsDiff tracks changes in online news articles over time>
    <meta name="author" content="Eric Price, Greg Price, Jennifer 8. Lee">

    <!-- Le styles -->
    <link href="http://www.newsdiffs.org/newsdiffs/website/styles/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="http://newsdiffs.org/">NewsDiffs</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="http://newsdiffs.org/">Home</a></li>
              <li class="active"><a href="http://newsdiffs.org/about/">About</a></li>
              <li><a href="http://newsdiffs.org/browse">Browse</a></li>
              <li><a href="http://newsdiffs.org/examples/">Highlights</a></li>
              <li><a href="http://newsdiffs.org/subscribe/">Subscribe</a></li>
              <li><a href="http://newsdiffs.org/contact/">Contact</a></li>

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
<a 
href="http://www.newsdiffs.org/diffview?url=http://www.nytimes.com/2012/06/20/world/middleeast/mubarak-is-on-life-support-egypt-security-officials-say.html&v1=e935fb9e8ce50c90971916796fde2c10f0b8b7ad&v2=99c50b4ba9d0d066c485697d90b0fcd0de0b7b3e&pagewanted=all"><img  
src="http://getfile0.posterous.com/getfile/files.posterous.com/jenny8lee/t1ytPiPm0SElFmqYNkue5qEEaG2uBncZE3REpniFmMxHfAyFg92xQ82AO59c/photo.png.scaled.500.jpg" 
width="450" align="right" style="padding:15px; margin:15px"/></a>
      <h1>About NewsDiffs</h1>
      <p>
    		
			<div class="boldhead">Why NewsDiffs Exists</div> 

			<p>In the age of rapidly reporting, digital news, there is rarely a single "final" version of an article. 	<p>NewsDiffs watches different versions of highly-placed articles on online news sites, starting with <a href="http://nytimes.com">nytimes.com</a>. 

			<p>For better or worse, readers can now view "the making of the sausage" that historically was discreetly 
tucked away from view with dead-tree editions. Some of those changes <a 
href="http://blogs.villagevoice.com/runninscared/2011/10/why_did_the_new_1.php">provoke criticism</a>, as with the image on the right, 
which went 
viral on Facebook.
<p>NewDiffs was 
born of the <a 
href="http://opennews-mit.eventbrite.com/">Knight Mozilla MIT hackathon</a> on June 17, 2012. 

			<p>
		
<div class="boldhead">What Types of Changes?</div>
			<p>Updates to articles on major news web sites happen all the time.
			<p>Often the changes are articles simply minor, small edits that are tightening up (such as "most" to "many.")
			<p>Sometimes the changes are the insertion or the deletion of a section.
			<p>Sometimes the story changes result of a rapidly breaking news, such as <a 
href="http://www.newsdiffs.org/diffview?url=http://www.nytimes.com/2012/06/18/us/rodney-king-whose-beating-led-to-la-riots-dead-at-47.html&v1=4914b33add01e16c34ed2d066bba5c829bcfdf8b&v2=eed0278b77d633f80398660ed97d8490ac84fc27&pagewanted=all">the 
death of Rodney King</a>. The story grows and deepens over time as more information comes in. To the right is an <a 
href="http://www.nytimes.com/2012/06/20/world/middleeast/mubarak-is-on-life-support-egypt-security-officials-say.html&v1=e935fb9e8ce50c90971916796fde2c10f0b8b7ad&v2=99c50b4ba9d0d066c485697d90b0fcd0de0b7b3e&pagewanted=all">example 
of a story that evolved about the health of former Egyptian president
Hosni Mubarak</a>, first when it was reporteed that  he was "clinically dead" and then later that he had suffered a stroke.
 			<p> Another interesting example would have been <a href="https://www.nytimes.com/2011/05/02/world/asia/osama-bin-laden-is-killed.html?_r=1&pagewanted=all">the killing of Osama Bin Laden</a> on May 1, 2011, which broke at 10:40 p.m. with a sparse report from Helene Cooper: 
			<blockquote>WASHINGTON — Osama bin Laden has been killed, a United States official said. President Obama is expected to make an announcement on Sunday night, almost 10 years after the Sept. 11 attacks on the World Trade Center and the Pentagon.</blockquote>


			<p>Also interesting are the language changes that reflect subtle differences in connotation for example, whether <a href="http://ecprice.scripts.mit.edu/newsdiffer/diffview?url=http://www.nytimes.com/2012/06/18/world/middleeast/egyptian-presidential-vote-enters-second-day.html&v1=c21d75799d83220e7ec796a198f782b6c57e1758&v2=d2778475ba76046b0f5b05bb4df2640962442dad">an election was "democratic" vs. "competitive."</a>
			<p>In some cases, we can see how a story can substantially change as more reporting comes in, such as <a 
href="http://cityroom.blogs.nytimes.com/2011/10/01/police-arresting-protesters-on-brooklyn-bridge/">in the story that 
helped inspired this project</a>: the article about the arrests of Occupy Wall Street protestors on October 1, 2011. that is pictured above. Two versions, twenty 
minutes apart, had substantially different first 
paragraphs about the arrests of Occupy Wall Street protestors on the Brooklyn Bridge in October 2011. 
The criticism it received was perhaps unfair, but it's hard to determine since the earlier version is 
no longer publicly available.</p>
			
			<p>
			<p>
			<div class="boldhead">Why the name NewsDiffs?</div>
			
			<a href="https://en.wikipedia.org/wiki/Diff">Diffing</a> is a popular concept within computer programming, which outputs the differences between two files. It is typically used to show the changes between one version of a file and a former version of the same file. This idea of version control is well known within computer engineering, and <a href="http://www.greglinch.com/2010/07/quick-thoughts-on-journalism-and-version-control.html">should be used in journalism</a> as it moves into a constantly evolving versions of news stories.. 
			We have had many sessions at many newsy <a href="http://newsfoo.org">foo</a> and bar camps on <a href="http://danielbachhuber.com/2011/04/30/bcni-philly-github-for-news/">"Github for news."</a> Well, this time, we literally did.
			<p>
<div class="boldhead">How NewDiffs Works</div> 
			<p>NewsDiffs regularly looks at the stories that are linked to (or have been linked to) 
from the homepage of major online news publications, starting with <a href="http://nytimes.com">nytimes.com</a> and <a 
href="http://cnn.com">cnn.com</a>. It parses them and stores them in a <a href="https://en.wikipedia.org/wiki/Git_(software)">git repository</a>. 
			<p>The records start June 17, 2012. 
			<p>Not all articles are stored. Only those with changes are displayed. NewsDiffs focuses mostly on ones that 
are linked from the homepage.
			<p>
<div class="boldhead">What Tools Did You Use?"</div>
			<p>The Newsdiffs source code is available on <a href="https://github.com/ecprice/newsdiffs">Github</a>. 
			<p>The front end used to view the differences is courtesy from the open-source project, <a 
href="http://mergely.com/">mergely</a>, by <a href="email:jamie.peabody@gmail.com">Jamie Peabody</a>.				
			<p>The prettiness is courtesy of <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>, which 
has 
been saving developers from themselves the world 
over.

<div class="boldhead">Who created NewsDiffs?</div> 
			<p>NewsDiffs is the product of a weekend of work from the <a href="http://opennews-mit.eventbrite.com/">Knight Mozilla MIT 
hackathon</a>, 
by <a href="http://www.mit.edu/~ecprice/">Eric Price</a>, <a href="http://jennifer8lee.com">Jennifer 8. Lee</a> and <a href="http://web.mit.edu/~price/">Greg Price</a>. 
<p>Greg and Eric, who are brothers, have both placed in the <a href="https://en.wikipedia.org/wiki/ACM_International_Collegiate_Programming_Contest">world ACM International Collegiate Programming Contest</a>, as well as the <a href="https://en.wikipedia.org/wiki/International_Olympiad_in_Informatics">International Olympiad in Informatics</a>, the world competition for high school students.

<p>Greg, who works at <a href="http://tddium.com/">Tddium</a>, has his masters in theoretical computer science from MIT and a bachelors in 
mathematics from Harvard. (He also led the <a href="http://youtomb.mit.edu/">YouTomb</a> project, which tracked videos removed from 
YouTube). Eric is currently in his third year of a PhD in theoretical computer science from MIT and spending the summer at Microsoft 
Research. Jenny was a reporter at The New York Times for nine years, wonders what it's like to be a product manager and has been 
tortured by <a 
href="https://en.wikipedia.org/wiki/Semicolon">missing semicolons</a>. 			
 
      </p>

<hr>
	<footer>
        <p>&copy; <a href="http://newsdiffs.org/contact/">NewsDiffs</a> 2012</p>
    </footer>

    </div> <!-- /container -->
		
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://www.newsdiffs.org/static/lib/jquery.js"></script>
    <script src="http://www.newsdiffs.org/static/lib/bootstrap-transition.js"></script>
    <script src="http://www.newsdiffs.org/static/lib/bootstrap-alert.js"></script>
    <script src="http://www.newsdiffs.org/static/lib/bootstrap-modal.js"></script>
    <script src="http://www.newsdiffs.org/static/lib/bootstrap-dropdown.js"></script>
    <script src="http://www.newsdiffs.org/static/lib//bootstrap-scrollspy.js"></script>
    <script src="http://www.newsdiffs.org/static/lib/bootstrap-tab.js"></script>
    <script src="http://www.newsdiffs.org/static/lib/bootstrap-tooltip.js"></script>
    <script src="http://www.newsdiffs.org/static/lib/bootstrap-popover.js"></script>
    <script src="http://www.newsdiffs.org/static/lib/bootstrap-button.js"></script>
    <script src="http://www.newsdiffs.org/static/lib/bootstrap-collapse.js"></script>
    <script src="http://www.newsdiffs.org/static/lib/bootstrap-carousel.js"></script>
    <script src="http://www.newsdiffs.org/static/lib/bootstrap-typeahead.js"></script>

  </body>
</html>
