{% extends 'template.html' %}

{% block active_browse %}class="active"{% endblock %}

{% block title %}Examples{{title}}{% endblock %}

{% block content %}

      <h1>Changed Articles</h1>
      <h3>From <a href="http://www.nytimes.com">nytimes.com</a>, <a href="http://cnn.com">cnn.com</a>, <a href="http://politico.com"> 
politico.com</a>	
<br>Starting June 17, 2012 (with occasional downtime)</h3>
      <p>
    		
    <table class="table table-condensed"  style="width:100%">
      <thead><tr><th text-align:"left";>Article</th><th>Version</th><th>Diff</th></tr></thead>
      {% for url, metadata, nc, changes in articles %}
      <tr><td rowspan="{{nc}}" valign="top"><a href="{{url}}">{{metadata.title}}</a> ({{metadata.publication}})<br>{{metadata.byline}}</td>
        {% for link, difflink, date in changes %}
        <td><a href="{{link}}">{{date}}</a></td>
        {% if difflink %}
        <td><a href="{{difflink}}">(Compare)</a></td></tr><tr>
        {% else %}
        <td></td></tr>
        {% endif %}
        {% endfor %}
      {% endfor %}
    </table>

{% endblock %}
