{% extends 'template.html' %}

{% block content %}
	<h3>{% block browse_source_header %}by source  <a href="{% url browse_source 'nytimes.com' %}">nytimes.com</a> | <a href="{% url browse_source 'cnn.com' %}">cnn.com</a> |
<a href="{% url browse_source 'politico.com' %}">politico.com</a> | <a href="{% url browse %}">all</a> {% endblock %}</h3>

      <h1>Changed Articles {% block browse_fromline %}{% endblock browse_fromline %}</h1>
      <p>Starting June 17, 2012 (with occasional downtime)</p>
      <p>  

    <table class="table table-condensed"  style="width:100%">
      <thead><tr><th text-align:"left";>Article</th><th>Version</th><th>Diff</th></tr></thead>
      {% for article, versions in articles %}
      <tr><td rowspan="{{versions|length}}" valign="top"><a href="{% url article_history %}?url={{article.url}}">{{article.latest_version.title}}</a> (<a href="{{article.url}}">{% block browse_current_anchor %}{% endblock %}</a>)<br>{{article.latest_version.byline}}</td>
        {% for difflink, version in versions %}
        <td>{{version.date}}</td>
        {% if difflink %}
        <td><a href="{{difflink}}">(Compare)</a></td></tr><tr>
        {% else %}
        <td></td></tr>
        {% endif %}
        {% endfor %}
      {% endfor %}
    </table>

{% endblock %}
