{% extends 'template.html' %}

{% block active_contact %}class="active"{% endblock %}

{% block title %}Contact{% endblock title%}

{% block content %}
      	<h1>Comments, Feedback, Criticism?</h1>
<div id="wufoo-q7x3s5">
</div>
<script type="text/javascript">var q7x3s5;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'newsdiffs', 
'formHash':'q7x3s5', 
'autoResize':true,
'height':'577',
'async':true,
'header':'show'};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { q7x3s5 = new WufooForm();q7x3s5.initialize(options);q7x3s5.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

{% endblock %}
