<html>
  <head>
    <title>
      News Differ
    </title>
    
        <!-- Requires jQuery -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
        <!-- Optional jquery.corner for rounded buttons -->
        <script src="jquery.corner.js" type="text/javascript"></script>
        
        <!-- Requires CodeMirror 2.16 -->
        <script type="text/javascript" src="static/lib/codemirror.min.js"></script>
        <link type="text/css" rel="stylesheet" href="static/lib/codemirror.css" />
        
        <!-- Requires Mergely -->
        <script type="text/javascript" src="static/lib/mergely.js"></script>
        <link type="text/css" rel="stylesheet" href="static/lib/mergely.css" />


                <script type="text/javascript">

        $(document).ready(function () {
                        $('#compare').mergely({
                                cmsettings: { readOnly: false, lineWrapping: true },
                                lhs: function(setValue) {
                                        setValue('{{text1|escapejs}}');
                                },
                                rhs: function(setValue) {
                                        setValue('{{text2|escapejs}}');
                                }
                        });
                });
        </script>


  </head>
  <body>
    <h1>News Differ: {{title}}</h1>
    <ul>
      <li>Left: {{date1}}</li>
      <li>Right: {{date2}}</li>
    </ul>
    <div id="mergely-resizer">
      <div id="compare">
      </div>
    </div>
  </body>
</html>
