{% extends "template.html" %}

{% block head %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>

<script src="{% url static 'lib/diff_match_patch_uncompressed.js'%}" type="text/javascript"></script>

<script type="text/javascript">
  var text1 = '{{text1|escapejs}}';
  var text2 = '{{text2|escapejs}}';
  $(document).ready(function () {
    var dmp = new diff_match_patch();
    dmp.Diff_ShowPara = false;
    var diff = dmp.diff_main(text1, text2);
    dmp.diff_cleanupSemantic(diff);
    $('#compare')[0].innerHTML = dmp.diff_prettyHtml(diff);
  });
</script>
{% endblock head %}

{% block content %}
    <h2>Comparing: {{title}}</h2>
    <h3>{{article_url}}</h3>
    <ul>
      <li><del style="background:#ffe6e6;">Pink: Archived {{date1}}</del></li>
      <li><ins style="background:#e6ffe6;">Green: Archived {{date2}}</ins></li>
    </ul>
    <p>
      {% if prev %}
      <a href="{{prev}}"><= Previous revision</a>
      {% else %}
      {% endif %}
      {% if next %}
      <a href="{{next}}">Later revision =></a>
      {% else %}
      {% endif %}
    </p>
      
Are these changes interesting?   <form action="{% url upvote %}" method=POST>
      <input type=hidden name=article_url value={{article_url}}>
      <input type=hidden name=diff_v1 value={{v1}}>
      <input type=hidden name=diff_v2 value={{v2}}>
      <input type=submit name=submit value="Yes">
    </form>
<hr>
    <div id="mergely-resizer">
      <div id="compare">
      </div>
    </div>
{% endblock content%}

{% block title %}Diffing: {{title}}{% endblock %}
