{% extends 'headerfooter.html' %}
{% load url from future %}
{% block title %}Entdecken{% endblock %}
{% block active_entdecken %}class="active"{% endblock %}

{% block content %}
    <div class="container-fluid maincontent">
        {% include "searchbar.html" %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Entdecken</h1>
                <p>
                    Hier gibts was zu Entdecken: über eine Tag Cloud,
                    deren Inhalte über die Twitter API generiert werden, und über klickbare Ressort/Kategorien.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

