<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>News Diff | Tracking Online News Articles Over Time</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NewsDiff tracks changes in online news articles over time>
    <meta name="author" content="Eric Price, Greg Price, Jennifer 8. Lee">

    <!-- Le styles -->
    <link href="http://www.newsdiffs.org/newsdiffs/website/styles/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">NewsDiffs</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="#">Home</a></li>
              <li><a href="http://newsdiffs.org/about/">About</a></li>
              <li><a href="http://newsdiffs.org/browse">Browse</a></li>
              <li class="active"><a href="http://newsdiffs.org/examples/">Highlights</a></li>
              <li><a href="http://newsdiffs.org/subscribe/">Subscribe</a></li>
              <li><a href="http://newsdiffs.org/contact/">Contact</a></li>

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
		<h1>Examples</h1>
		<p>These are some highlights of changes that have been handcurated</p>
		<p>
		<p>
		<ul>
		<li>In <a 
href="http://www.newsdiffs.org/diffview?url=http://www.nytimes.com/2012/06/17/world/asia/activism-grows-as-singapore-loosens-restrictions.html&v1=4ecdec54c77e0ceac5d237a23361b504ebf2736d&v2=d6cca74d24584aba75f03c763cb561176c6606e9&pagewanted=all">

As Singapore Loosens Its Grip, Residents Lose Fear to Challenge Authority</a>
		<br>By ANDREW JACOBS on June 16, 2012
		<br>"Singapore’s single-party <strong>rule</strong>" ==> "Singapore’s single-party <strong>dominance</strong>."
		</li>
		</ul>
		<ul>
		<li>In <a href="hhttp://www.newsdiffs.org/diffview?url=http://www.nytimes.com/2012/06/18/world/middleeast/egyptian-presidential-vote-enters-second-day.html&v1=c21d75799d83220e7ec796a198f782b6c57e1758&v2=d2778475ba76046b0f5b05bb4df2640962442dad">
Egyptians Return to Polls for a Second Day</a>
		<br>By DAVID D. KIRKPATRICK and KAREEM FAHIM on June 17, 2012
		<br>"the <strong>democratically</strong> elected, Islamist-led Parliament" ==> "the <strong>competitively</strong> elected, Islamist-led Parliament."
		</li>	
		</ul>
		<ul>
		<li>In <a href="http://www.newsdiffs.org/diffview?url=http://www.nytimes.com/2012/06/17/world/asia/in-shift-china-stifles-debate-on-economic-change.html&v1=9d5ebdf5f906015644a7c6f4cc40bcea0977304c&v2=e28e6667ba3b80f85a13849495fc8267d99e2bd7">
China Closes Window on Economic Debate, Protecting Dominance of State</a>
		<br>By IAN JOHNSON on June 16, 2012
		<br>A "<strong>Propaganda Ministry</strong> directive" ==> "A <strong>propaganda department</strong> directive".
		<br>With the correction: "An earlier version of this article incorrectly referred to the Propaganda Ministry of the Communist Party. While there is a propaganda department under the Communist Party Central Committee, there is no government ministry by that name."
		</li>	
		</ul>
	
		<ul>
		<li>In <a href="http://www.newsdiffs.org/diffview?url=http://www.nytimes.com/2012/06/18/us/rodney-king-whose-beating-led-to-la-riots-dead-at-47.html&v1=0bb4b9e6c8b4ed03bece8906e89631b8a660d795&v2=3079d91d61b7d7d0338974de07e4fa6cbe84db5c&pagewanted=all
">
Rodney King, Whose Beating Led to L.A. Riots, Dies at 47</a>
		<br>By JENNIFER MEDINA on June 17, 2012
		<br>The breaking news story of Rodney King's death evolved over time. Changes ranged from adding his middle initial (G.) to attributing the suspected cause of death (drowning).
		</li>	
		</ul>
		<ul>
		<li>In <a href="http://www.newsdiffs.org/diffview?url=http://www.nytimes.com/2012/06/18/world/europe/greek-elections.html&v1=8c8c7e09966fe1cec63f5131fdb24961bd4237cd&v2=4638704b4edf6bc7259432ca76e6be42a8b89ca4&pagewanted=all">Supporters of Bailout Claim Victory in Greece</a>
		<br>By RACHEL DONADIO on June 17, 2012	
		<br>The following paragraph was removed: "The fact that Syriza did not place first may make European leaders more likely to grant some concessions to Greece, but they also have to consider the larger economies of Spain and Italy, which are also under intense pressure."
</li>	
		</ul>

</div>

<hr>
	<footer>
        <p>&copy; <a href="http://newsdiffs.org/contact/">NewsDiffs</a> 2012</p>
    </footer>

    </div> <!-- /container -->
		
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://www.newsdiffs.org/static/lib/jquery.js"></script>
    <script src="http://www.newsdiffs.org/static/lib/bootstrap-transition.js"></script>
    <script src="http://www.newsdiffs.org/static/lib/bootstrap-alert.js"></script>
    <script src="http://www.newsdiffs.org/static/lib/bootstrap-modal.js"></script>
    <script src="http://www.newsdiffs.org/static/lib/bootstrap-dropdown.js"></script>
    <script src="http://www.newsdiffs.org/static/lib//bootstrap-scrollspy.js"></script>
    <script src="http://www.newsdiffs.org/static/lib/bootstrap-tab.js"></script>
    <script src="http://www.newsdiffs.org/static/lib/bootstrap-tooltip.js"></script>
    <script src="http://www.newsdiffs.org/static/lib/bootstrap-popover.js"></script>
    <script src="http://www.newsdiffs.org/static/lib/bootstrap-button.js"></script>
    <script src="http://www.newsdiffs.org/static/lib/bootstrap-collapse.js"></script>
    <script src="http://www.newsdiffs.org/static/lib/bootstrap-carousel.js"></script>
    <script src="http://www.newsdiffs.org/static/lib/bootstrap-typeahead.js"></script>

  </body>
</html>
