{% extends 'template.html' %}

{% block active_examples %}class="active"{% endblock %}

{% block content %}
		<h1>Highlights</h1>
		<p>Hier haben wir ein paar besonders interessante Änderungen 
zusammengestellt. Hast du eine interessante beim stöbern gefunden, die du uns 
<a href="/contact">mitteilen</a> magst?</p>
		<p>
		<p>
<style>
  .examples li a {
   font-size: 12pt;
  }
  .examples li {
    padding: 4px;
  }
</style>
		<ul class="examples">
<li>
 In <a
 href="http://www.newsdiffs.org/diff/192021/192137/www.nytimes.com/2013/03/31/science/space/yvonne-brill-rocket-scientist-dies-at-88.html">
 Yvonne Brill, a Pioneering Rocket Scientist, Dies at 88
 </a>
 <br>By DOUGLAS MARTIN on March 30, 2013
 <br> In an obituary, the start of the lede changed from
 "She <b>made a mean beef stroganoff</b>" to "She
 <b>was a brilliant rocket scientist</b>".
</li>
<li>
 In <a
 href="http://www.newsdiffs.org/article-history/www.nytimes.com/2012/12/15/nyregion/shooting-reported-at-connecticut-elementary-school.html">
    Gunman Massacres 20 Children at School in Connecticut; 28 Dead, Including Killer
 </a>
 <br>By JOSEPH GOLDSTEIN, WILLIAM K. RASHBAUM, and JAMES BARRON on December 14-17, 2012
 <br> The story evolved as the reporters got a clearer picture of
 events, mostly over the course of the first day.  We display <b>19
 different versions</b> of the article, giving a clear view of the story's
 evolution.
</li>
<li>
 In <a
 href="http://www.newsdiffs.org/diff/83586/83600/www.nytimes.com/2012/10/21/world/iran-said-ready-to-talk-to-us-about-nuclear-program.html">
 U.S. Officials Say Iran Has Agreed To Nuclear Talks
 </a>
 <br>By HELENE COOPER and MARK LANDLER on October 20, 2012
 <br> The original lede was "The United States and Iran have agreed
 for the first time to one-on-one negotiations over Iran’s nuclear
 program".  Two hours later, it was changed to "... have agreed <b>in
 principle</b> for the first time..."; a paragraph was added to say
 that "The White House publicly denied the report on Saturday
 evening".
</li>
<li>
 In <a
 href="http://www.newsdiffs.org/diff/54531/54602/www.nytimes.com/2012/09/13/us/politics/behind-romneys-decision-to-criticize-obama-on-libya.html">
    Behind Romney’s Decision to Attack Obama on Libya ==> A Challenger’s Criticism Is Furiously Returned
 </a>
 <br>By DAVID E. SANGER and ASHLEY PARKER ==> PETER BAKER and ASHLEY PARKER on September 12, 2012
 <br> An article discussing Romney's response to the Benghazi attacks
 was completely rewritten in a very different tone.  The first version
 was quite critical of Romney, while the second was more neutral
 he-said she-said coverage.  Compare<br><br>
 <blockquote>
   For a country looking to understand how Mr. Romney, a Republican
   candidate with no foreign policy experience, would respond to a major
   crisis, this was a first glimpse. And as an adviser to the campaign
   who worked in the George W. Bush administration said on Wednesday,
   Mr. Romney’s accusation that Mr. Obama had invited the attacks because
   he had weakened America looked like “<b>he had forgotten the first rule
   in a crisis: don’t start talking before you understand what’s
   happening.</b>”
 </blockquote>
 to<br><br>

 <blockquote>
   Mr. Romney’s criticism fed into his larger theme of painting Mr. Obama
   as apologizing for the United States, and his team stuck by it. “While
   there may be differences of opinion regarding issues of timing,” said
   one senior strategist, who asked not to be named, “<b>I think everyone
   stands behind the critique of the administration</b>, which we believe has
   conducted its foreign policy in a feckless manner.”
 </blockquote>
</li>
</ul>

These are sampled from the first week we were in operation:<br><br>

<ul>

		<li>In <a 
href="http://www.newsdiffs.org/diffview?url=http://www.nytimes.com/2012/06/20/world/middleeast/mubarak-is-on-life-support-egypt-security-officials-say.html&v1=e935fb9e8ce50c90971916796fde2c10f0b8b7ad&v2=99c50b4ba9d0d066c485697d90b0fcd0de0b7b3e&pagewanted=all
">Mubarak Rushed To Military Care After a Stroke</a>
		<br>By DAVID D. KIRKPATRICK and KAREEM FAHIM on June 19, 2012
		<br>The story was <strong>updated and rewritten</strong> after former President Hosni Mubarak's condition was changed from being 
<strong>"clinically dead"</strong> to <strong>""critical condition and still alive."</strong> </ul>
 
		<ul>
		<li>In <a href="http://www.newsdiffs.org/diffview?url=http://www.nytimes.com/2012/06/17/world/asia/activism-grows-as-singapore-loosens-restrictions.html&v1=c4e82a460f7f692d6bec3d758880069a29cff0ba&v2=9eca356d2125aa11877386a14701552cb99c7382">As Singapore Loosens Its Grip, Residents Lose Fear to Challenge Authority</a>
		<br>By ANDREW JACOBS on June 16, 2012
		<br>"Singapore’s single-party <strong>rule</strong>" ==> "Singapore’s single-party <strong>dominance</strong>."
		</li>
		</ul>
		<ul>
		<li>In <a href="http://www.newsdiffs.org/diffview?url=http://www.nytimes.com/2012/06/18/world/middleeast/egyptian-presidential-vote-enters-second-day.html&v1=4a202f72ea55330ea84fd3b814996c92b6e54a5b&v2=492777f287e2d052a96c8b0731e3430228cda905">
Egyptians Return to Polls for a Second Day</a>
		<br>By DAVID D. KIRKPATRICK and KAREEM FAHIM on June 17, 2012
		<br>"the <strong>democratically</strong> elected, Islamist-led Parliament" ==> "the <strong>competitively</strong> elected, Islamist-led Parliament."
		</li>	
		</ul>
		<ul>
		<li>In <a href="http://www.newsdiffs.org/diffview?url=http://www.nytimes.com/2012/06/17/world/asia/in-shift-china-stifles-debate-on-economic-change.html&v1=d44b51d7c7e6211638fb0dfd66590d9d455933d9&v2=8eb4a98d573f74c847bda396d408f1c325c76fb9">
China Closes Window on Economic Debate, Protecting Dominance of State</a>
		<br>By IAN JOHNSON on June 16, 2012
		<br>A "<strong>Propaganda Ministry</strong> directive" ==> "A <strong>propaganda department</strong> directive".
		<br>With the correction: "An earlier version of this article incorrectly referred to the Propaganda Ministry of the Communist Party. While there is a propaganda department under the Communist Party Central Committee, there is no government ministry by that name."
		</li>	
		</ul>
	
		<ul>
		<li>In <a href="http://www.newsdiffs.org/diffview?url=http://www.nytimes.com/2012/06/18/us/rodney-king-whose-beating-led-to-la-riots-dead-at-47.html&v1=4914b33add01e16c34ed2d066bba5c829bcfdf8b&v2=eed0278b77d633f80398660ed97d8490ac84fc27">
Rodney King, Whose Beating Led to L.A. Riots, Dies at 47</a>
		<br>By JENNIFER MEDINA on June 17, 2012
		<br>The breaking news story of Rodney King's death evolved over time. Changes ranged from adding his middle initial (G.) to attributing the suspected cause of death (drowning).
		</li>	
		</ul>
		<ul>
		<li>In <a href="http://www.newsdiffs.org/diffview?url=http://www.nytimes.com/2012/06/18/world/europe/greek-elections.html&v1=634c94078105db95895aaa707e3f5f4594667533&v2=a47a4e9da69cb2759f52d1e77e9a245bbcb0e226">Supporters of Bailout Claim Victory in Greece</a>
		<br>By RACHEL DONADIO on June 17, 2012	
		<br>The following paragraph was <strong>removed</strong>: "The fact that Syriza did not place first may make European 
leaders 
more 
likely to grant some concessions to Greece, but they also have to consider the larger economies of Spain and Italy, which are also under intense pressure."
</li>	
		</ul>
		<ul>
		<li>In <a 
href="http://www.newsdiffs.org/diffview?url=http://www.nytimes.com/2012/06/19/world/syria-dominates-as-obama-and-putin-meet.html&v1=1896ed1409a2131258bba9a3c64fa03077053667&v2=4558128473e2185fd42fc50af8d52cff5eed670e&pagewanted=all">Obama 
and Putin Meet at Last, but Deadlock on Syria Strategy</a>
		<br>By HELENE COOPER on June 18, 2012
		<br><strong>Increased detail in phrasing.</strong>"White House officials in the past few days have been sounding increasingly impatient." ==> "it has put Mr. Obama in a difficult 
position as he tries 
to 
persuade 
Mr. 
Putin of 
America’s good 
intentions — or, at least, its lack of ill intentions — toward Russia."
		</ul>


<ul>
<li>In <a href="http://www.nytimes.com/2012/06/20/world/asia/insurgents-strike-checkpoint-in-southern-afghanistan.html
">Questions on Women’s Rights and Ethnic Strife Stir Worries Over Afghanistan’s Path</a>
<br>By GRAHAM BOWLEY on June 19, 2012
<br><strong>Headline changed</strong> from "Insurgents Strike Checkpoint in Southern Afghanistan" to "Questions on Women’s Rights and Ethnic Strife Stir Worries Over Afghanistan’s Path"
</ul>


<ul>
<li>In <a href="http://www.newsdiffs.org/diffview?url=http://www.nytimes.com/2012/06/19/us/politics/road-trip-helps-romney-brush-up-on-banter.html&v1=e4e2ce1c88e9069fa985f2486e96621fa39f9bcd&v2=51d117bdf9541640a546c103604f386d29e40b30&pagewanted=all">Road Trip Helps Romney Brush Up on Banter
</a>
<br>By ASHLEY PARKER on June 18, 2012
<br>The following paragraph was <strong>removed</strong>: "Al Gore was so stilted in 2000 that his campaign, trying to warm him up, paid the feminist writer Naomi Wolf for sartorial advice: earth tones for the man who wrote “Earth in the Balance.”" And this correction <strong>added</strong>: "An earlier version of this article referred incorrectly to the role of Naomi Wolf in Al Gore’s 2000 presidential campaign. She was a consultant on women’s issues and outreach to young voters; she was not Mr. Gore’s image consultant and did not give him sartorial advice."
</ul>




</div>

{% endblock %}
