{% extends 'template.html' %}

{% block active_front %}class="active"{% endblock %}

{% block content %}
      <h1>NewsDiffs |  Tracking Online News Articles Over Time</h1>
      <p>
    		
<a href="http://newsdiffs.org/browse"><img 
src="http://getfile5.posterous.com/getfile/files.posterous.com/jenny8lee/qdqTAGAXu0ju59x5O76uLGVi5h15UDvs92UNmtrJoiUpLvZLmC8E5M02Pl4t/Screen_shot_2012-06-18_at_5.10.png" 
style="padding:10px; margin-left:25px; margin-top:10px; float:right" width="400"></a>	
		
<h2>	NewsDiffs <a href="http://newsdiffs.org/browse">archives changes</a> in online news 
articles after publication. Currently, we track <a href="{% url browse_source 'nytimes.com' %}">nytimes.com</a>, <a href="{% url browse_source 'cnn.com' %}">cnn.com</a>, and <a href="{% url browse_source 'politico.com' %}">politico.com</a>.</h2>

 		

<p>The New York Times recently <a href="https://www.nytimes.com/2012/07/01/opinion/sunday/article-changes-are-shown-in-a-tool-created-by-outsiders.html?_r=1">highlighted NewsDiffs</a> in the public 
editors column (which had <a href="http://nyti.ms/N0VvMq">previously discussed the difficulties of revisions</a> in the digital age)
 

			<p>You can <a href="http://newsdiffs.org/browse/">browse</a> our repository of articles. Or you can take a look at <a href="http://newsdiffs.org/examples/">some of the examples</a> of articles that have changed.
			<p>If you are so inclined, you can <a href="http://newsdiffs.org/subscribe/">subscribe</a> to whatever it is that we may eventually send 
out some time in the future. Or you can follow <a href="http://twitter.com/newsdiffs">NewsDiffs</a> on Twitter.
<p> And no, the site is not really mobile-friendly (scrolling in article view doesn't work right).       

<p>	

{% endblock %}
