<!DOCTYPE html>
<html>
<head lang="en">
     <meta charset="utf-8">
    <title>NewsDiffsDE | {% block title %}redaktionelle Änderungen an Nachrichten verfolgen{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Die Idee hinter NewsDiffs.de ist es, Änderungen an Nachrichtenartikeln sichtbar und nachvollziehbar zu machen. NewsDiffs.de trackt alle Änderungen an Artikeln der Titelseiten der 10 größten deutschsprachigen Nachrichtenportale. Nutze die Suchfunktion, um nach Artikeln zu suchen oder sieh dir unsere Highlights an.">
    <meta name="author" content="Robert, Cat, Relana, Shenglin, Paula, Anja, Moreno">

    <!-- CSS -->
    <link href="{% url 'static' 'css/bootstrap.css' %}" rel="stylesheet" media ="screen">
    <link href="{% url 'static' 'css/custom.css' %}" rel="stylesheet" media ="screen">
    <!-- for individula styles of the pages: -->
    {% block css_import %} {% endblock %}


    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="{% url 'static' 'js/respond.min.js'%}"></script>
    <![endif]-->
        <!-- oder src normal via ordnerstruktur verlinken? /../..-->



    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{% url 'root' %}assets/ico/favicon.ico">

</head>
<body>
    <div class="container-fluid" id="top">
        <div class="row">
             <nav class="navbar navbar-default">
            <div class="col-md-8 col-md-offset-2">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'root' %}"><img src="{% url 'static' 'images/logo_nd_neu.png' %}" alt="NewsDiffs Logo"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li {% block active_front %}{% endblock %}><a href="{% url 'root' %}">Startseite</a></li>
                        <li {% block active_entdecken %}{% endblock %}><a href="{% url 'entdecken' %}">Entdecken</a></li>
                        <li {% block active_highlights %}{% endblock %}><a href="{% url 'highlights' %}">Highlights</a></li>
                        <li {% block active_archive %}{% endblock %}><a href="{% url 'browse' %}">Archiv</a></li>
                        <li {% block active_about %}{% endblock %}><a href="{% url 'about' %}">Über NewsDiffs</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        </div>

    </div>


    <!-- Begin page content -->

    {% block content %} {% endblock %}


    <footer class="footer">
        <div class="container-fluid col-md-8 col-md-offset-2">
            <div class="footer-left">
                <p>© 2015 NewsDiffs DE</p>
                <p><a href="{% url 'kontakt' %}">Kontakt</a></p>
                <p><a href="{% url 'impressum' %}">Impressum</a></p>
            </div>
            <div class="footer-left">
                <ul class="footer-social">
                    <li><a href="https://github.com/NewsdiffsDE"><img src="{% url 'static' 'images/GitHub_logo_white.png' %}" alt="NewsdiffsDE bei GitHub"></a></li>
                    <li><a href="http://twitter.com/newsdiffs_de"><img src="{% url 'static' 'images/Twitter_logo_white.png' %}" alt="@newsdiffs_de auf Twitter"></a></li>
                </ul>
            </div>
        </div>
    </footer>


	<script src="{% url 'static' 'js/jquery.js'%}"></script>
	<script src="{% url 'static' 'js/bootstrap.js'%}"></script>
	<script src="{% url 'static' 'js/search.js'%}"></script>
     {% block js_scripts %} {% endblock %}
</body>
</html>