{% extends 'template.html' %}

{% block active_press %}class="active"{% endblock %}

{% block title %}Press{% endblock title%}

{% block content %}

<h1>Press</h1>

<p>We've been very fortunate to get some press around what started as a weekend project! Here are some of the highlights.</p>
<p>
<ul>
<li><strong><a href="https://www.nytimes.com/2012/07/01/opinion/sunday/article-changes-are-shown-in-a-tool-created-by-outsiders.html?_r=1&pagewanted=all">The New York Times</a>, July 1, 2012</strong>  
<br><strong>"An Insider's View of Changes, From Outside" by Arthur S. Brisbane.</strong>
<br>The "journalistic sausage-making process on display is fascinating, raises many questions for critics to seize upon and, I believe, puts pressure on The Times to offer its own accounting of its coverage.Why do so many changes appear in continuous news coverage? What justifies a change? Those are questions that need answering, especially now that the changes are so visible to readers."
</ul>
<ul>
<li><strong><a href="http://www.poynter.org/latest-news/regret-the-error/177515/newsdiffs-tracks-changes-to-new-york-times-cnn-content/">Poynter.org</a>, June 18, 2012</strong> 
<br><strong>"NewsDiffs tracks changes to New York Times, CNN" by Craig Silverman</strong>
<br>"NewsDiffs follows in the tradition of ProPublica's ChangeTracker, which lets you track changes to pages on the White House website, and the recently announced Politwoops from the Sunlight Foundation, which lets you track the tweets deleted by Twitter accounts belonging to politicians. The common thread that run between these tools is they expose changes or capture deleted content that is otherwise rarely visible or trackable by the public."
</ul>
<ul>
<li><strong><a href="http://betabeat.com/2012/06/newsdiffs-shows-changes-made-to-new-york-times-articles-after-theyre-published/">Betabeat of The New York Observer</a>, June 18, 2012</strong>
<br>"NewsDiffs Shows Changes Made to New York Times Articles After They're Published"  by Adrianne Jeffries</strong>
<br>"So far the app has turned up mostly minor but interesting differences." (Well, it was early. First day of running. The better stuff came later)
</ul>
<ul>
<li><strong>VIDEO: <a href="http://pandodaily.com/2012/06/21/fast-chat-news-diffs-tracks-changing-online-news-stories/">PandoDaily/Daily Download</a>, July 21, 2012</strong> 
<br><strong>"Fast Chat: NewsDiffs Tracks Changing Online News Stories."</strong>
<br>Lauren Ashburn and Howard Kurtz discuss NewsDiffs. 
<br>We were honored to be noted by Howard Kurtz, noted media critic!
</ul>
<ul>
<li><strong><a href="http://www.mediabistro.com/10000words/news-diffs-a-new-project-to-track-news-revisions_b13805">MediaBistro 10,000 Words</a>, June 19, 2012</strong>


<br><strong>"A New Project To Track News Revisions" by Lauren Rabaino</strong>
<br>A nice analysis from the perspective of a Seattle Times home page producer.
</ul>

{% endblock content %}
