{% extends "template_trial.html" %}

{% block title %}Press{% endblock title%}

{% block content %}

<h1>Press</h1>

We've been very fortunate to get some press around what started as a weekend project!

<ul>

<li><a href="https://www.nytimes.com/2012/07/01/opinion/sunday/article-changes-are-shown-in-a-tool-created-by-outsiders.html?_r=1&pagewanted=all">The New York Times</a>, July 1, 2012 | 
"An Insider's View of Changes, From Outside" by Arthur S. Brisbane.  The "journalistic sausage-making process on display is fascinating, raises many questions for critics to seize upon and, I believe, puts pressure on The Times to offer its own accounting of its coverage.Why do so many changes appear in continuous news coverage? What justifies a change? Those are questions that need answering, especially now that the changes are so visible to readers."
<li><a href="http://www.poynter.org/latest-news/regret-the-error/177515/newsdiffs-tracks-changes-to-new-york-times-cnn-content/">Poynter.org</a>, June 18, 2012 | "NewsDiffs tracks changes to New York Times, CNN" by Craig Silverman.  "NewsDiffs follows in the tradition of ProPublica's ChangeTracker, which lets you track changes to pages on the White House website, and the recently announced Politwoops from the Sunlight Foundation, which lets you track the tweets deleted by Twitter accounts belonging to politicians. The common thread that run between these tools is they expose changes or capture deleted content that is otherwise rarely visible or trackable by the public."
</ul>


{% endblock content%}
