{% extends 'template.html' %}

{% block active_subscribe %}class="active"{% endblock %}

{% block title %}Subscribe{% endblock title%}

{% block content %}
      <h1>Subscribe</h1>
      <p>
      Enter your email below to get our updates on NewsDiffs. You can also follow us on <a href="http://twitter.com/newsdiffs">Twitter</a>. <p> <form style="border:0px solid #ccc;padding:3px;text-align:left;" 
action="https://tinyletter.com/newsdiffs" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/newsdiffs', 'popupwindow', 'scrollbars=yes,width=800,height=600');return 
true"><p></p><p><input type="email" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" 
value="Sign Me Up!" /><p></form>
    

<!--End mc_embed_signup-->
{% endblock %}
