{% extends 'headerfooter.html' %}
{% load url from future %}
{% block css_import %}
    <link href="{% url 'static' 'css/custom-article-list.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}Suchergebnisse{% endblock %}
{% block active_front %}class="active"{% endblock %}

{% block content %}

    <!-- Begin page content -->
	<div class="container-fluid maincontent">
        {% include "searchbar.html" %}

        <!-- Breadcrumbs -->
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<ol class="breadcrumb">
					<li><a href="index.html">Suche</a></li>
					<li class="active">Suchergebnisse</li>
				</ol>
			</div>
		</div>

		<div class="row">
			<!--Filter-->
			<div class="col-md-2 col-md-offset-2">
				<div class="sidebar">
					<h5>Sortieren nach:</h5>
					<div class="radio">
						<label>
							<input type="radio" name="sortierenOptionsRadios" id="sortierenNeueste" value="neueste" checked>
							Neueste
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="sortierenOptionsRadios" id="sortierenMeiste" value="meiste">
							Meiste Änderungen
						</label>
					</div>
					<h5>Filtern nach:</h5>
					<p>Zeitungen</p>
					<div class="checkbox">
						<label>
							<input type="checkbox" id="bildCheckbox" value="">
							Bild.de
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" id="focusCheckbox" value="">
							Focus Online
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" id="spiegelCheckbox" value="">
							Spiegel Online
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" id="weltCheckbox" value="">
							Die Welt
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" id="sternCheckbox" value="">
							stern.de
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" id="zeitCheckbox" value="">
							Zeit Online
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" id="sueddeutscheCheckbox" value="">
							Süddeutsche.de
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" id="fazCheckbox" value="">
							FAZ.net
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" id="ntvCheckbox" value="">
							n-tv.de
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" id="rpCheckbox" value="">
							RP Online
						</label>
					</div>
					<p>Ressorts</p>
					<div class="checkbox">
						<label>
							<input type="checkbox" id="allgemeinCheckbox" value="">
							Allgemein
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" id="politikCheckbox" value="">
							Politik
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" id="wirtschaftCheckbox" value="">
							Wirtschaft
						</label>
					</div><div class="checkbox">
						<label>
							<input type="checkbox" id="regionalCheckbox" value="">
							Regional
						</label>
					</div><div class="checkbox">
						<label>
							<input type="checkbox" id="technikCheckbox" value="">
							Technik
						</label>
					</div><div class="checkbox">
						<label>
							<input type="checkbox" id="wissenschaftCheckbox" value="">
							Wissenschaft
						</label>
					</div><div class="checkbox">
						<label>
							<input type="checkbox" id="gesellschaftCheckbox" value="">
							Gesellschaft
						</label>
					</div>
				</div>
			</div>
			
			<!-- Suchergebnisse -->
			<div class="col-md-6">

				<h1>Suchergebnisse für "Merkel"</h1>

				<div class="table">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th>Artikel</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<h3>Fahimi stellt Merkel Ultimatum (<a href="http://www.bild.de/politik/inland/nsa/fahimi-uebt-druck-auf-merkel-aus-41074484.bild.html">Bild.de</a>)</h3>
									<p>
                                        <a class ="no-link-color" href="article_history.html">
                                            <img class="ownbtn" src="../static/images/Icon_Artikelverlauf.png" alt="Artikelverlauf-Icon">
                                        </a>
                                        <a href="article_history.html">Änderungsübersicht</a>
                                    </p>
									<p><a href="diffview.html"><img class="ownbtn" src="../static/images/Icon_Vergleichen.png" alt="Vergleichen-Icon">neueste Änderung</a></p>
								</td>
							</tr>
							<tr>
								<td>
									<h3>SPD setzt Merkel Frist in BND-Affäre (<a href="http://www.spiegel.de/politik/deutschland/spd-stellt-merkel-frist-in-nsa-affaere-a-1035350.html">Spiegel Online</a>)</h3>
									<p><a href="article_history.html"><img class="ownbtn" src="../static/images/Icon_Artikelverlauf.png" alt="Artikelverlauf-Icon">Änderungsübersicht</a></p>
									<p><a href="diffview.html"><img class="ownbtn" src="../static/images/Icon_Vergleichen.png" alt="Vergleichen-Icon">neueste Änderung</a></p>
								</td>
							</tr>
							<tr>
								<td>
									<h3>SPD stellt Merkel ein Ultimatum (<a href="http://www.faz.net/aktuell/politik/inland/bnd-affaere-spd-stellt-merkel-ein-ultimatum-13609669.html">FAZ.net</a>)</h3>
									<p><a href="article_history.html"><img class="ownbtn" src="../static/images/Icon_Artikelverlauf.png" alt="Artikelverlauf-Icon">Änderungsübersicht</a></p>
									<p><a href="diffview.html"><img class="ownbtn" src="../static/images/Icon_Vergleichen.png" alt="Vergleichen-Icon">neueste Änderung</a></p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- /.table -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->

		<!-- Pagination -->
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<nav id="pagination-nav">
					<ul class="pagination pagination-sm">
					    <li class="disabled">
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    <li class="active"><a href="#">1</a></li>
					    <li><a href="#">2</a></li>
					    <li><a href="#">3</a></li>
					    <li><a href="#">4</a></li>
					    <li><a href="#">5</a></li>
					    <li>
					    	<a href="#" aria-label="Next">
					        	<span aria-hidden="true">&raquo;</span>
					    	</a>
					    </li>
					</ul>
				</nav>

				<p id="display-options">
					Suchergebnisse pro Seite: <a>5</a> <a>15</a> <a>alle</a>
				</p>


			</div>
		</div>
		<!-- ./row -->

	</div>
	<!-- /.container-fluid -->

{% endblock %}

