{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Track Trump's Changes | {% block title %}Keeping Track of What Trump's Changing{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Keeping Track of What Trump's Changing">
    <meta name="author" content="">

    <!-- Le styles -->


    <link href="{% static 'styles/bootstrap.css' %}" rel="stylesheet" media ="screen">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/images/ico/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static '/images/ico/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static '/images/ico/favicon-16x16.png' %}" sizes="16x16">
    <link rel="manifest" href="{% static '/images/ico/manifest.json' %}">
    <link rel="mask-icon" href="{% static '/images/ico/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">


    <!-- google analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32724935-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

      {% block head %} {% endblock %}
     <!-- <script src="{% static 'js/jquery.js' %}"></script> -->
     <!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->         
	<script src="{% static 'js/bootstrap.js'%}"></script>

  </head>

  <body>



    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
<!--          <a class="btn btn-navbar">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">-->

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{% url 'root' %}">
          <img src="{% static '/img/logo.png' %}" style="max-height:20px;">
          Track Trump's Changes</a>
          <!--<div class="nav-collapse">-->
            <ul class="nav">
              <li {% block active_front %}{% endblock %}><a href="{% url 'root' %}">Home</a></li>
              <!-- <li {% block active_about %}{% endblock %}><a href="{% url 'about' %}">About</a></li> -->
              <li {% block active_browse %}{% endblock %}><a href="{% url 'browse' %}">Browse</a></li>
              <!-- <li {% block active_examples %}{% endblock %}><a href="{% url 'examples' %}">Highlights</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      {% block content %} {% endblock content%}
<hr>
 {% block footer %} 
	<footer>
        <p>&copy; <a href="{% url 'contact' %}">Track Trump's Changes</a> 2017 </p>
        </footer>
{% endblock footer %}
    </div>


    </div> <!-- /container -->
		
    <!-- Bootstrap javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'lib/bootstrap-alert.js' %}"></script>
    <script src="{% static 'lib/bootstrap-modal.js' %}"></script>
    <script src="{% static 'lib/bootstrap-dropdown.js' %}"></script>
    <script src="{% static 'lib/bootstrap-scrollspy.js' %}"></script>
    <script src="{% static 'lib/bootstrap-tab.js' %}"></script>
    <script src="{% static 'lib/bootstrap-tooltip.js' %}"></script>
    <script src="{% static 'lib/bootstrap-popover.js' %}"></script>
    <script src="{% static 'lib/bootstrap-button.js' %}"></script>
    <script src="{% static 'lib/bootstrap-collapse.js' %}"></script>
    <script src="{% static 'lib/bootstrap-carousel.js' %}"></script>
    <script src="{% static 'lib/bootstrap-typeahead.js' %}"></script>
  </body>
</html>
