<!DOCTYPE html>
<html lang="en">
<head>
    <link href="http://www.newsdiffs.org/newsdiffs/website/styles/bootstrap.css" rel="stylesheet">
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}Random content here{% endblock %}
    </div>
</body>
</html>
