.navbar-default {
	height: 6em;
	border-radius: 0;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

.footer {
	background-color: #666;
}

.copy, .footer-social {
	padding: 10px 0 0 0;
}

.copy{
	float: left;
}

.footer-social {
	list-style: none;
}

.footer-social li {
	float: right;
	padding: 0 10px;
}

footer {
	color: #fff;
}

footer a {
	color: #fff;
}

.footer-social img{
	height: 20px;
	padding: 0 5px;
}

.navbar-brand img{
	height: 3em;
}

.navbar-collapse {
	margin-top: 2.3em;
}

ul.dropdown-menu{
	border: none;
	
}

ul.nav.navbar-nav.navbar-right li > a{
	width: 160px;
	text-align: center;
}

#search-bar {
	margin: 50px auto;
}

#description {
	margin: 20px auto;
}

