#main {
	margin: 20px auto;
}

ul.article-options {
	list-style: none;

}

ul.article-options>li {
	float: left;
	padding-right: 5%;
}

ul.pages {
	list-style: none;
	margin: 0 auto;
}

ul.pages>li {
	float: left;
	padding-right: 5%
}

ul.pages>li p{
	padding-top: 24px;
}