#main {
	margin: 20px auto;
}

.sort {
	margin: 10px 0;
}

.sort h5 {
	float: left;
	padding-right: 5px;
}

table {
	clear:both;
}

table h3 {
	margin-top: 10px;
}

table td>ul {
	list-style: none;
	padding: 0;
	margin: 0;
	
}

td>p, td>a {
	float: left;
	margin-right: 5%;
}

td p {
	padding: 5px 0;
}

ul.pages {
	list-style: none;
	margin: 0 auto;
}

ul.pages>li {
	float: left;
	padding-right: 5%
}

ul.pages>li label, input{
	margin-top: 24px;
}

ul.pages>li label {
	font-weight: normal;
}

input#pageNo {
  max-width: 50px;
}