RewriteEngine On
RewriteRule ^static - [L]
RewriteRule ^images - [L]
RewriteRule ^styles - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /newsdiffs/website/mysite.fcgi/newsdiffer/$1 [QSA,L]
